<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{% block title%}Ask Me Anything - {% endblock %}</title>
      
      {% block meta %}
      {% endblock %}
  </head>
  <body>
      {% block content %}
      <nav class="navigation">
	<a href="/ask/">Ask</a>
	<a href="/">New</a>
	<a href="/popular/">Popular</a> |
	<a href="/signup/">Sign Up</a>
	<a href="/login/">Log In</a> |
	{% if not request.user.is_anonymous %}
  	Current user:
	{{ request.user }}
	<a href="/logout/">Log Out</a>
	{% endif %}
	
      </nav>
      
      {% endblock %}

      {% block scripts %}
      {% endblock %}
  </body>
</html>
