{% extends 'qa/base.html' %}

{% block title %}
{{ block.super }} Question {{ questions.id }}{{ page }}
{% endblock %}

{% block content %}
{{ block.super }} 

{% if question %}
<div class="question">
    <h1>Q{{ question.id }}: {{ question.title }}</h1>
    <h2>Rating: {{ question.rating }}. Added by {{ question.author.username }} on {{ question.added_at }}</h2>
    
    <p>{{ question.text }}</p>
</div>
{% endif %}

<hr>

{% if answers %}
<div class="answers">
    {% for answer in answers %}
    <div class="answer">
	<h3>A{{ answer.id }}: {{ answer.author.username }} posted on {{ answer.added_at }}</h3>
	
	<p>{{ answer.text }}</p>
    </div>

    <hr>
    {% endfor %}
</div>
{% else %}
   <p>No answers posted yet. Takie dela, kotany!</p>
{% endif %}

{% for e in form.non_field_errors %}
  <div class="alert alert-danger">{{ e }}</div>
{% endfor %}

  <form class="form-horizontal" method="POST" action="/answer/">
      <fieldset>
	  {% csrf_token %}
	  {% for field in form %}
	  <div class="control-group
		      {% if field.errors %}has-error{% endif %}">
              <label class="control-label">{{ field.label }}</label>
              <div class="controls">{{ field }}</div>
	  </div>
	  {% endfor %}
      </fieldset>
      <div class="form-actions">
	  <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
  
{% endblock %}
